.who {
    height: auto;
    width: 100%;

    .textD {
        width: 90%;
        // padding-left: 8.7rem;
        height: fit-content;
        margin-bottom: 2rem;
        margin-left: auto;

        h5 {
            letter-spacing: 10px;            
            line-height: 5;
            color: #24b3fb;
            font-weight: bold;
            text-transform: uppercase;
        }
        h3 {
            font-size: 2.5rem;
            max-width: 700px;
            line-height: 48px;
            font-weight: bolder;
            font-family: 'Poppins', sans-serif;
            color: #2c2c2cfa;
        }

        p {
            line-height: 7.5;
            text-transform: uppercase;
            font-family: 'Josefin sans', sans-serif;            
            color: #2c2c2c;
            padding-left: 15px;

                a {
                    position: relative;

                    &:hover::before {
                        left: 25px;
                        opacity: .4;
                    }

                    &::before {                        
                    content: '';
                    position: absolute;
                    top: -10px;
                    left: -15px;
                    width: 40px;
                    height: 40px;
                    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
                    background-color: #24b3fb;
                    opacity: .1;
                    transition: .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
                }
            }            
        }
    }

    & article {
        width: 90%;
        margin-left: auto;
        margin-top: -1.2rem;

        p {
            max-width:600px;
            line-height: 2.2;
            text-align: left;
            color: #2c2c2c;
        }
    }

    .exp {
        width: 90%;
        margin-left: auto;  
        margin-top: 3rem;     

        .expWrap {
            max-width: 600px;
            // background-color: #24b3fb;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // flex-wrap: wrap;

            h3 {
                height: 100px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: column;                
                font-family: 'Josefin sans', sans-serif; 

                span {
                    font-size: 3.5rem;
                    color: #24b3fb;
                }

                p {
                    font-size: 1.2rem;
                    margin-bottom: auto;
                    color: #2c2c2c;
                }

                &:nth-child(1) {
                    margin-right: 3rem;
                }
                &:nth-child(2) {
                    margin-left: 2rem;
                }
            }
        }
    }
}

@media(max-width:600px) {

    .who {
        
        .textD { 
            
            h5 {
                line-height: 4;
            }
           
            h3 {
                font-size: 1.2rem;
                width: 95%;
                line-height: 1.6;
            }
            p {
                line-height: 6;          
            }

        }

        & article {
            width: 100%;            
            margin-top: -1.2rem;

        p {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            font-size: .9rem;
        }
    }

    .exp {
        width: 90%;
        margin-left: auto;  
        margin-top: 3rem;     

        .expWrap {
            max-width: 600px;
            // background-color: #24b3fb;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            h3 {
                height: 100px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: column;                
                font-family: 'Josefin sans', sans-serif; 
                width: 90%;

                &:not(:last-of-type) {
                    margin-bottom: 1rem;
                }

                span {
                    font-size: 3.5rem;
                    color: #24b3fb;
                }

                p {
                    font-size: 1.2rem;
                    margin-bottom: auto;
                    color: #2c2c2c;
                }

                &:nth-child(1) {
                    margin-right: 0rem;
                }
                &:nth-child(2) {
                    margin-left: 0rem;
                }
            }
        }
    }

    }
 
}